<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- work time CSS -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    
    <title>등록완료</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<div class="container my-3">

	<section class="sect">
		<div class="sub-title-wrap d-flex justify-content-center">
			<h3 class="sub-title mb-20">출근정보가 등록되었습니다.</h3>
		</div>
	</section>
                
</div>

<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>