<!DOCTYPE html>
<html  lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADMIN :: KBDS 출퇴근관리</title>
  <!-- styles -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/media.css}">
  <!-- // styles -->

  <!-- script -->
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>

<script>

</script>

<body>
  <!-- body -->
  <div id="wrap">

    <!-- contents -->
    <div class="contents pop">
      <div class="page-section">
        <section class="sect">

            <!-- 업무내용 -->
            <h3 class="h3-title"><i class="bi bi-vector-pen me-1"></i>구매내역</h3>
              <table class="table table-bordered table-hover text-center col-table">
                <thead class="table-light">
                  <tr>
                    <th scope="col">결제일</th>
                    <th scope="col">패키지명</th>
                    <th scope="col">패키지금액</th>
                    <th scope="col">결제수단</th>
                    <th scope="col">회원명</th>
                    <th scope="col">학습시작일</th>
                    <th scope="col">학습종료일</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2023-06-22 10:00</td>
                    <td>프리패스 오픈특가 패키지</td>
                    <td>1,100,000원</td>
                    <td>신용카드</td>
                    <td>김회원</td>
                    <td>2023-03-23 09:00</td>
                    <td>2023-06-24 09:00</td>
                  </tr>
                  <tr>
                    <td>2023-06-22 10:00</td>
                    <td>프리패스 오픈특가 패키지</td>
                    <td>1,100,000원</td>
                    <td>신용카드</td>
                    <td>김회원</td>
                    <td>2023-03-23 09:00</td>
                    <td>2023-06-24 09:00</td>
                  </tr>
                   <tr>
                    <td>2023-06-22 10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2023-03-23 09:00</td>
                    <td>2023-06-24 09:00</td>
                  </tr>
                  <tr>
                    <td>2023-06-22 10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2023-03-23 09:00</td>
                    <td>2023-06-24 09:00</td>
                  </tr>
                  <tr>
                    <td>2023-06-22 10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2023-03-23 09:00</td>
                    <td>2023-06-24 09:00</td>
                  </tr>
                  <tr>
                    <td>2023-06-22 10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2023-03-23 09:00</td>
                    <td>2023-06-24 09:00</td>
                  </tr>
                  <tr>
                    <td>2023-06-22 10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2023-03-23 09:00</td>
                    <td>2023-06-24 09:00</td>
                  </tr>
                  <tr>
                    <td>2023-06-22 10:00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2023-03-23 09:00</td>
                    <td>2023-06-24 09:00</td>
                  </tr>
                </tbody>
              </table>
          </section>
      </div>
    </div> <!-- // contents -->
  </div> <!-- // body -->
</body>

</html>