<!DOCTYPE html>
<html  lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADMIN :: KBDS 출퇴근관리</title>
  <!-- styles -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/media.css}">
  <!-- // styles -->
  
  <!-- script -->
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/js/ui.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/datepicker.js}"></script>
  <script th:src="@{/js/d3-5.8.2.min.js}"></script>
  <script th:src="@{/js/c3.min.js}"></script>
  <script th:src="@{/js/common.js}"></script> 
</head>

<body>

  <!-- body -->
  <div id="wrap">

    <!-- header -->
    <header class="">
      <div class="navbar sticky-top head-cont d-flex justify-content-between align-items-center">
        <h1><a href="/webadmin/page/sub_01_01.html" title="클릭시 home으로 이동">KBDS WORKTIME</a></h1>
        <ul class="nav">
          <li class="nav-item"><!--<a href="/webadmin/page/sub_08_03.html" class="nav-link">비밀번호변경</a>--></li>
          <li class="nav-item"><!--<a href="/webadmin/index.html" class="nav-link">로그아웃</a>--></li>
        </ul>
      </div>

      <nav id="gnb" class="gnb scroll">
        <ul class="nav">
          <li class="nav-item"><a href="/admin/search/byProject" class="nav-link">프로젝트별 출퇴근현황 조회</a></li>
          <li class="nav-item"><a href="/admin/search/byCorp" class="nav-link">소속회사별 출퇴근현황 조회</a></li>
          <li class="nav-item"><a href="/admin/search/byEmp" class="nav-link">직원별 출퇴근현황 조회</a></li>
          <li class="nav-item"><a href="/admin/manage/emp" class="nav-link active">시스템관리</a></li>
        </ul>
      </nav>
      <div class="sub-depth" data-toggle="class-toggle">
        <ul class="nav mb-auto nav-fill">
          <li class="nav-item"><a class="nav-link">소속회사관리</a></li>
          <li class="nav-item"><a class="nav-link" href="/admin/manage/prj">프로젝트관리</a></li>
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin/manage/emp">직원관리</a></li>
        </ul>
      </div> 
      
    </header> 
    <!-- // header -->

    <!-- contents -->
    <div class="contents">
      <!-- page title -->
      <div class="page-title d-flex justify-content-between align-items-end">
        <h2 class="title">직원관리</h2>
        <nav class="breadcrumb-wrap" aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><i class="bi bi-house me-1"></i>Home</li>
              <li class="breadcrumb-item">시스템관리</li>
              <li class="breadcrumb-item active" aria-current="page">직원관리</li>
            </ol>
        </nav>
      </div> <!-- // page title -->
      <div class="page-section">
        <section class="sect">
          <div class="search-wrap">
          <!-- filter -->
          <div class="filter-wrap d-flex align-items-end mb-2">
            <div class="input-group input-group-sm w-auto">
              <h3 class="h3-title"><i class="bi bi-search me-1"></i>조회</h3>
            </div>
            <div class="btn-wrap mt-4 d-flex ms-auto">
			   <a id="btnSearch" class="btn btn-dark">조회</a>
            </div>
          </div>
          <!-- // filter -->
            <div class="table-responsive">
            <table class="table row-table">
              <colgroup>
                <col style="width:15%">
                <col>
                <col style="width:15%">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th scope="row">직원번호</th>
                  <td>
                    <input type="text" id="searchEmpNo" class="form-control" th:value="${searchedEmpNo}" aria-label="직원번호 입력">
                  </td>
                  <th scope="row">직원명</th>
                  <td>
                    <input type="text" id="searchEmpNm" class="form-control" th:value="${searchedEmpNm}" aria-label="직원명 입력">
                  </td>
                </tr>
                <tr>
                  <th scope="row">프로젝트</th>
                  <td>
					<div class="d-flex align-items-center">  
						<select id="plodrCorp" class="form-select w-auto" aria-label="발주회사 선택" onchange="getProject(plodrCorp.value, project)">
							<option value="00">전체</option>
							<option 
								th:each="corp : ${pCorpSelBox}" 
								th:value="${corp.code}" 
								th:text="${corp.value}"
								th:selected="${corp.code} == ${pCorpSel}"></option>
						</select>
						<select id="project" class="form-select w-auto" aria-label="프로젝트 선택">
              				<option value="0">전체</option>
	                        <option 
	                          th:each="prj : ${prjSelBox}" 
	                          th:value="${prj.prjId}" 
	                          th:text="${prj.prjNm}"
	                          th:selected="${prj.prjId} == ${prjSel}"></option>
						</select>						
					</div>
                  </td>
                  <th scope="row">소속회사</th>
                  <td>
                    <select id="belngCorp" class="form-select w-auto" aria-label="소속회사 선택">
                      <option value="00">전체</option>
							<option 
								th:each="corp : ${bCorpSelBox}" 
								th:value="${corp.code}" 
								th:text="${corp.value}"
								th:selected="${corp.code} == ${bCorpSel}"></option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </section>
        <section class="sect">

          <!-- filter -->
          <div class="filter-wrap d-flex align-items-center mb-2">
            <div class="input-group input-group-sm w-auto">
              <h3 class="h3-title"><i class="bi bi-card-list me-1"></i>목록</h3>
            </div>
            <div class="buttons d-flex ms-auto">
			  <a th:href="@{|/admin/manage/empRegist|}" class="btn btn-sm btn-secondary ms-1"><i class="bi bi-pencil-square me-1"></i>등록</a>	
              <button type="button" class="btn btn-sm btn-secondary"><i class="bi bi-download me-1"></i>엑셀다운로드</button>
            </div>
          </div> <!-- // filter -->

          <!-- table -->
          <div class="table-responsive">
            <table id="empTable" class="table table-bordered table-hover text-center col-table">
              <thead class="table-light">
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">직원번호</th>
                  <th scope="col">직원명</th>
                  <th scope="col">IP</th>
                  <th scope="col">소속회사</th>
                  <th scope="col">프로젝트</th>
                  <th scope="col">계약상태</th>
                  <th scope="col">관리</th>
                </tr>
              </thead>
              <tbody>
				  
                <tr th:each="dto, loop : ${paging}">
                  <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                  <td th:text="${dto.empNo}"></td>
                  <td th:text="${dto.empNm}"></td>
                  <td th:text="${dto.ipAddr}"></td>
                  <td th:text="${dto.corp.value}"></td>
                  <td th:text="${dto.project.prjNm}"></td>
				  <td th:id="${dto.id}">
					  <!-- 계약시작일이 현재보다 미래인가-->
					  <span th:if="${#temporals.createDate(dto.ctrcStDate, 'yyyyMMdd').isAfter(#temporals.createToday())}" class="badge bg-point">대기</span>
					  <!-- 계약시작일이 현재보다 과거이거나 당일인가 -->
					  <span th:if="${#temporals.createDate(dto.ctrcStDate, 'yyyyMMdd').isBefore(#temporals.createToday())} or ${#temporals.createDate(dto.ctrcStDate, 'yyyyMMdd').isEqual(#temporals.createToday())}">
						  <!-- 계약종료일이 당일이거나 미래인가 -->
						  <span th:if="${#temporals.createDate(dto.ctrcEdDate, 'yyyyMMdd').isEqual(#temporals.createToday())} or ${#temporals.createDate(dto.ctrcEdDate, 'yyyyMMdd').isAfter(#temporals.createToday())}" class="badge bg-success">진행</span>
						  <!-- 계약종료일이 현재보다 과거인가-->
						  <span th:if="${#temporals.createDate(dto.ctrcEdDate, 'yyyyMMdd').isBefore(#temporals.createToday())}" class="badge bg-secondary">철수</span>
					  </span>
				  </td>
                  <th>
                    <div class="d-inline-flex align-items-center">
                      <th:block th:if="${#temporals.createDate(dto.ctrcEdDate, 'yyyyMMdd').isBefore(#temporals.createToday())}">
						  <a id="btnDelete" class="btn btn-sm btn-outline-danger ms-1" disabled>철수</a>
					  </th:block>
					  <th:block th:unless="${#temporals.createDate(dto.ctrcEdDate, 'yyyyMMdd').isBefore(#temporals.createToday())}">
						  <a id="btnDelete" class="btn btn-sm btn-outline-danger ms-1" th:attr="onclick=|modalCtrcEndYmd('${dto.id}')|">철수</a>
					  </th:block>
                      <a th:href="@{|/admin/manage/empDetail/${dto.id}|}" class="btn btn-sm btn-outline-secondary ms-1">관리</a>
                    </div>
                  </td>
                </tr>
          
              </tbody>
            </table>
          </div> <!-- // table -->

          <!-- 페이징처리 시작 -->
          <div th:if="${!paging.isEmpty()}">
          <nav class="pagination-wrap" aria-label="리스트 페이지 이동">
            <ul class="pagination justify-content-center">

              <!-- 이전 없을 때 .disabled -->
              <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number-1}|}" aria-label="이전 페이지">
                  <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                </a>
              </li>

              <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
	            	th:if="${page >= paging.number-5 and page <= paging.number+5}"
	                th:classappend="${page == paging.number} ? 'active'" 
	                class="page-item">
	                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
	            </li>

              <!-- 다음 없을 때 .disabled -->
              <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}" aria-label="다음 페이지">
                  <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                </a>
              </li>

            </ul>
          </nav>

          </div> 
          <!-- 페이징처리 끝 --> 
          
		  <!-- modal-dialog-scrollable -->
		  <!-- test -->
		  <div class="modal" id="regCtrcYmdModal">
		    <div class="modal-dialog modal-sm ">
		      <div class="modal-content">		  
		        <div class="modal-body">
		          <section class="sect">
		
		            <!-- 업무내용 -->
		            <h3 class="h3-title"><i class="bi bi-person-circle me-1"></i>계약종료일 선택</h3>
		            <table class="table table-bordered table-hover text-center col-table">
				        <colgroup>
				          <col>
				        </colgroup>
				        <tbody>
				          <tr>
				            <td>
				              <div class="d-flex align-items-center">
			                      <div class="datepicker">
			                        <input id="empNo" type="hidden" value="">
			                        <input id="ctrcEndYmd" type="text" class="form-control">
			                        <i class="bi bi-calendar2-check"></i>
			                      </div>
				              </div>
				            </td>
				          </tr>
				        </tbody>
		            </table>
		          </section>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		          <button type="button" class="btn btn-danger" id="btnselCtrcEndYmd" data-path="member" data-id="">선택</button>
		        </div>
		      </div>
		    </div>
		  </div>          
          
        </section>
      </div>
    </div> <!-- // contents -->
  </div> <!-- // body -->
  
<script>
	
	$( function() {
		$( "#ctrcEndYmd" ).datepicker({
			todayHighlight: true,
			container: '#ctrcEndYmd'
		});
	} );
/*	
  $('#ctrcEndYmd').datepicker({
    format: "dd/mm/yyyy",
    startDate: "01-01-2015",
    endDate: "01-01-2020",
    todayBtn: "linked",
    autoclose: true,
    todayHighlight: true,
    container: '#ctrcEndYmd'
  });
*/		

  
	$("#btnselCtrcEndYmd").on("click", function() {

		if($('#ctrcEndYmd').val() != "") {
			callEndingCtrc($("#btnselCtrcEndYmd").data('id'));
			$('#regCtrcYmdModal').modal('hide');
		}
		else {
			alert("계약종료일을 입력하세요");
		}
	});
	
	$("#btnSearch").on("click", function() {

    	var url = '/admin/manage/emp';
    	url += '?empNo=' + $("#searchEmpNo").val();
    	url += '&empNm=' + $("#searchEmpNm").val();
   		url += '&plodrCorp=' + $("#plodrCorp").val();
    	url += '&project=' + $("#project").val();
    	url += '&belngCorp=' + $("#belngCorp").val();

		location.href=url;
	});
	
	function getToday(){
		var today = new Date();
		var year = today.getFullYear();
		var month = ('0' + (today.getMonth() + 1)).slice(-2);
		var day = ('0' + today.getDate()).slice(-2);
		
		return year + '-' + month  + '-' + day;
	}

	function modalCtrcEndYmd(id) {
		
		$("#btnselCtrcEndYmd").data("id", id);
		$("#ctrcEndYmd").val(getToday());
		$("#regCtrcYmdModal").modal("show");
	}

	function callEndingCtrc(id) {

		var rowNm = "#"+id;
		var ctrcEndYmd = $("#ctrcEndYmd").val();
		$.ajax({
			type: 'PUT',
			url: '/admin/manage/emp/endingCtrc/' + id + '/' + ctrcEndYmd,
			contentType: "application/text; charset=UTF-8",
			dataType: 'text',
			success: function (result) {
				$(rowNm).html("<span class='badge bg-secondary'>철수</span>");
			},
			error : function(XHR, status, error) {
				console.error(status + " : " + error);
			}
		}).fail(function (error) {
			alert(JSON.stringify(error));
		})
	}

	function getProject(plodrCorp, selectOption) {
		$.ajax({
			type: 'GET',
			url: '/admin/getProject/' + plodrCorp,
			contentType: "application/json; charset=UTF-8",
			dataType: 'json',
			success: function (result) {
				console.log(result);
				$('#project').children('option:not(:first)').remove();
				for (i = 0; i < result.length; i++) {
					// 첫번째 옵션 '전체'를 삭제하면 안되므로
					selectOption.options[i+1] = new Option(result[i].name, result[i].code);
				}
			}
		}).fail(function (error) {
			alert(JSON.stringify(error));
		})
	}


</script> 
</body>

</html>