<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADMIN :: KBDS 출퇴근관리</title>
  <!-- styles -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/media.css}">
  <!-- // styles -->

  <!-- script -->
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/js/ui.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/datepicker.js}"></script>
  <script th:src="@{/js/d3-5.8.2.min.js}"></script>
  <script th:src="@{/js/c3.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>
</head>

<body>

  <!-- body -->
  <div id="wrap">

    <!-- header -->
    <header class="">
      <div class="navbar sticky-top head-cont d-flex justify-content-between align-items-center">
        <h1><a href="/webadmin/page/sub_01_01.html" title="클릭시 home으로 이동">KBDS WORKTIME</a></h1>
        <ul class="nav">
          <li class="nav-item"><!--<a href="/webadmin/page/sub_08_03.html" class="nav-link">비밀번호변경</a>--></li>
          <li class="nav-item"><!--<a href="/webadmin/index.html" class="nav-link">로그아웃</a>--></li>
        </ul>
      </div>

      <nav id="gnb" class="gnb scroll">
        <ul class="nav">
          <li class="nav-item"><a href="/admin/search/byProject" class="nav-link">프로젝트별 출퇴근현황 조회</a></li>
          <li class="nav-item"><a href="/admin/search/byCorp" class="nav-link">소속회사별 출퇴근현황 조회</a></li>
          <li class="nav-item"><a href="/admin/search/byEmp" class="nav-link active">직원별 출퇴근현황 조회</a></li>
          <li class="nav-item"><a href="/admin/manage/emp" class="nav-link">시스템관리</a></li>
        </ul>
      </nav>
      
    </header> 
    <!-- // header -->

    <!-- contents -->
    <div class="contents">
      <!-- page title -->
      <div class="page-title d-flex justify-content-between align-items-end">
        <h2 class="title">직원별 출퇴근현황 조회</h2>
        <nav class="breadcrumb-wrap" aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><i class="bi bi-house me-1"></i>Home</li>
              <li class="breadcrumb-item active" aria-current="page">직원별 출퇴근현황 조회</li>
            </ol>
        </nav>
      </div> <!-- // page title -->
      <div class="page-section">
        <section class="sect">
          <div class="search-wrap">
          <!-- filter -->
          <div class="filter-wrap d-flex align-items-end mb-2">
            <div class="input-group input-group-sm w-auto">
              <h3 class="h3-title"><i class="bi bi-search me-1"></i>조회</h3>
            </div>
            <div class="btn-wrap mt-4 d-flex ms-auto">
			   <button id="btnSearch" class="btn btn-dark">조회</button>
            </div>
          </div>
          <!-- // filter -->
            <div class="table-responsive">
            <table class="table row-table">
              <colgroup>
                <col style="width:15%">
                <col>
                <col style="width:15%">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <th scope="row">직원정보</th>
                  <td>
		            <div class="col-md-6">
		              <div class="input-group">
		                <input id="srchEmpNm" type="text" class="form-control" placeholder="직원명을 입력하세요" aria-label="직원명을 입력하세요" th:value="${srchEmpNm}" aria-describedby="basic-addon1">
		                <button type="button" class="btn btn-sm btn-secondary"><i class="bi bi-search me-1"></i></button>
		              </div>
		            </div>
                  </td>
                  <th scope="row">조회일자</th>
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="datepicker">
                        <input id="srchStYmd" type="text" class="form-control" th:value="${#temporals.createDate(srchStYmd, 'yyyyMMdd')}">
                        <i class="bi bi-calendar2-check"></i>
                      </div>
                      <span class="bar">~</span>
                      <div class="datepicker">
                        <input id="srchEdYmd" type="text" class="form-control" th:value="${#temporals.createDate(srchEdYmd, 'yyyyMMdd')}">
                        <i class="bi bi-calendar2-check"></i>
                      </div>
                    </div>           
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </section>
        <section class="sect">

          <!-- filter -->
          <div class="filter-wrap d-flex align-items-center mb-2">
            <div class="input-group input-group-sm w-auto">
              <h3 class="h3-title"><i class="bi bi-card-list me-1"></i>목록</h3>
            </div>
            <div class="buttons d-flex ms-auto">
              <button type="button" class="btn btn-sm btn-secondary"><i class="bi bi-download me-1"></i>엑셀다운로드</button>
            </div>
          </div> <!-- // filter -->

          <!-- table -->
          <div class="table-responsive">
            <table class="table table-bordered table-hover text-center col-table">
              <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width:20%">
              </colgroup>				
              <thead class="table-light">
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">직원번호</th>
                  <th scope="col">직원명</th>
                  <th scope="col">일자</th>
                  <th scope="col">등록시간</th>
                  <th scope="col">상태</th>
                  <th scope="col">사유</th>
                </tr>
              </thead>
              <tbody>
				  
                <tr th:each="dto, loop : ${paging}">
                  <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                  <td th:text="${dto.emp.empNo}"></td>
                  <td th:text="${dto.emp.empNm}"></td>
                  <td th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}"></td>
                  <td th:text="${#temporals.format(dto.regDate, 'HH:mm:ss')}"></td>
				  <td>
					  <span th:if="${#strings.equals(dto.status, '0')}" class="badge bg-success">정상</span>
					  <span th:if="${#strings.equals(dto.status, '1')}" class="badge bg-warning">지각</span>
					  <span th:if="${#strings.equals(dto.status, '2')}" class="badge bg-secondary">미등록</span> 
				  </td>
                  <td th:text="${dto.reason}"></td>
   
              </tbody>
            </table>
          </div> <!-- // table -->

          <!-- 페이징처리 시작 -->
          <div th:if="${!paging.isEmpty()}">
          <nav class="pagination-wrap" aria-label="리스트 페이지 이동">
            <ul class="pagination justify-content-center">

              <!-- 이전 없을 때 .disabled -->
              <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number-1}|}" aria-label="이전 페이지">
                  <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                </a>
              </li>

              <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
	            	th:if="${page >= paging.number-5 and page <= paging.number+5}"
	                th:classappend="${page == paging.number} ? 'active'" 
	                class="page-item">
	                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
	            </li>

              <!-- 다음 없을 때 .disabled -->
              <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}" aria-label="다음 페이지">
                  <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                </a>
              </li>

            </ul>
          </nav>

          </div> 
          <!-- 페이징처리 끝 --> 
        </section>
      </div>
    </div> <!-- // contents -->
  </div> <!-- // body -->

<script>
	$( function() {
		$( "#srchStYmd" ).datepicker();
	} );
  
	$( function() {
		$( "#srchEdYmd" ).datepicker();
	} ); 
	
	$("#btnSearch").on("click", function() {

		var srchUrl  = "/admin/search/byEmp?";
	    srchUrl += "srchEmpNm="+$("#srchEmpNm").val()+"&";
	    srchUrl += "srchStYmd="+$("#srchStYmd").val().replace(/-/gi, "")+"&";
	    srchUrl += "srchEdYmd="+$("#srchEdYmd").val().replace(/-/gi, "");
		
		location.href=srchUrl;
	});
  	  
    function removeCheck() {
      if (confirm("정말 삭제하시겠습니까??") == true) { //확인
        document.removefrm.submit();
      } else { //취소
        return false;
      }
    }
  </script>
</body>

</html>